.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listStyle{
    display: flex;
    align-items: "center";
    gap: 10px;
    cursor: pointer;
    margin-bottom: 10px
}